<div class="row">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <p class="lead mb-0">{{ title }}</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p class="mb-3 text-right">Choose translation to edit</p>
                        <language-picker class="mb-0"></language-picker>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
