<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <resource-details-header title="Locale Details"></resource-details-header>

            <div class="row">
                <div class="col-sm-12">
                    <nb-card>
                        <nb-card-body>
                            <div class="form-group">
                                <div class="row full-name-inputs">
                                    <div class="col-sm-12 input-group">
                                        <input
                                            formControlName="code"
                                            nbinput placeholder="Code" type="text"
                                            class="input-full-width input-md input-rectangle">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="row full-name-inputs">
                                    <div class="col-sm-12 input-group">
                                        <input
                                            formControlName="name"
                                            nbinput
                                            placeholder="Name"
                                            type="text"
                                            class="input-full-width input-md input-rectangle">
                                    </div>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <nb-card class="resource-sidebar">
                <button type="submit" class="btn btn-success btn-small">Save</button>
            </nb-card>
        </div>
    </div>
</form>
