<form [formGroup]="form" (ngSubmit)="submit()">
    <nb-card>
        <nb-card-header>
            <div class="d-flex flex-row justify-content-between">
                <p class="lead d-inline">Locale Details</p>
                <resource-edit-actions [loading]="semaphores.loading" [deleteTitle]="resource.full_name"
                [translationDeleteTitle]="resource.full_name" [resource]="resource" (save)="submit()"
                (delete)="deleteResource()"></resource-edit-actions>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group">
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 col-form-label">
                                Full Name
                            </div>
                            <div class="col-sm-9 input-group">
                                <input formControlName="full_name" nbinput placeholder="Full Name" type="text"
                                class="input-full-width input-md input-rectangle"
                                [ngClass]="{ 'input-danger': semaphores.formSubmitted && form.get('full_name').invalid }">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 col-form-label">
                                Email
                            </div>
                            <div class="col-sm-9 input-group">
                                <input formControlName="email" nbinput placeholder="Email" type="email"
                                class="input-full-width input-md input-rectangle"
                                [ngClass]="{ 'input-danger': semaphores.formSubmitted && form.get('email').invalid }">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 col-form-label">
                                Birth Date
                            </div>
                            <div class="col-sm-9 input-group">
                                <input
                                    [nbDatepicker]="datepicker"
                                    nbinput class="input-full-width input-md input-rectangle"
                                    formControlName="birth_date"
                                    >
                                <nb-datepicker #datepicker [date]="resource.birth_date"></nb-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 col-form-label">
                                Gender
                            </div>
                            <div class="form-group select-form-group mb-0 col-sm-9">
                                <select formControlName="gender" class="form-control">
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                    <option value="o">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mb-0">
                        <div class="row full-name-inputs">
                            <div class="col-sm-3 col-form-label">
                                Group
                            </div>
                            <div class="form-group col-sm-9">
                                <select-user-group [selectedId]="resource.group_id" (onSelect)="onGroupSelected($event)"></select-user-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</form>
