.select-language-picker
{
    height: 20px !important;
    padding: 0.5rem !important;
    padding-right: 0 !important;

    box-sizing: border-box;

    & select {
        box-sizing: border-box;
        height: 35px !important;
        padding: 5px !important;
    }
}
