<div class="ng-star-inserted">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div class="text-center">
                        <h2 class="title text-red">Insufficient permissions</h2>
                        <p>You do not have sufficient permissions to access this page!</p>
                        <button class="btn btn-primary">
                            <a routerLink="/dashboard">Go to dashboard</a>
                        </button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
