@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import './sidebar';
@import './tables';
@import './utils';
@import './forms';
@import './colors';

$nb-themes: nb-register-theme((
/* Sidebar */
menu-icon-margin: 0 0.7rem 0,
menu-item-padding: 0.675rem 0.5rem 0.675rem 0.5rem,
menu-icon-font-size: 1rem,
sidebar-line-height	: 1.2rem,
sidebar-header-height: 5rem,
sidebar-font-size: 0.5rem !important
), default, default);
