@import '../../../@theme/styles/colors';

.nav-right
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    right: 2.25rem;
    top: 18px;
}

language-picker
{
    align-self: center;
}

nb-user
{
    padding-left: 18px;
}

.user-actions
{
    & nb-card-header
    {
        text-align: center;
    }

    & nb-list
    {
        text-align: center;
    }

    & nb-list-item:hover
    {
        cursor: pointer;
        background-color: lighten($color: $accent, $amount: 15);
    }
}
